@import "colors.scss";

.card {
  background-color: $dark-grayish-blue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  position: relative;
  row-gap: 1.5rem;
  text-align: center;
  width: clamp(15rem, 80%, 30rem);

  .title {
    color: $neon-green;
    font-size: 0.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .advice {
    color: $light-cyan;
    letter-spacing: 0.4px;
    line-height: 1.5;
  }

  .diceContainer {
    align-items: center;
    background-color: $neon-green;
    border-radius: 50%;
    bottom: -12%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    left: 50%;
    padding: 0.8rem;
    position: absolute;
    transform: translate(-50%, 0);
    transition: all 0.2s;

    img {
      width: 1.4rem;
    }
  }

  .diceContainer:hover {
    box-shadow: 0 0 20px 0 $neon-green;
  }
}

@media screen and (min-width: 320px) {
  .card {
    .advice {
      font-size: 1.2rem;
    }
  }
}
